[MASTER]

# A comma-separated list of package or module names from where C extensions may be loaded.
extension-pkg-whitelist=

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=,
    pylint.extensions.check_elif,
    pylint.extensions.docstyle,
    pylint.extensions.mccabe,
    pylint.extensions.overlapping_exceptions,

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, json
# and msvs (visual studio). You can also give a reporter class, e.g.
# mypackage.mymodule.MyReporterClass.
output-format=colorized

# Tells whether to display a full report or only the messages.
reports=no

[FORMAT]

# Maximum number of lines in a module.
max-module-lines=2000

[BASIC]

# Good variable names which should always be accepted, separated by a comma.
good-names=i, j, k, ex, Run, _,
    log,

[MESSAGES CONTROL]

disable = ,
    logging-fstring-interpolation,
    too-few-public-methods,
